*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}
body{
	font-family:"adihrg","PingFangSC-Regular","Hiragino Sans GB","微软雅黑","Microsoft YaHei",sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
img{
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	cursor: pointer;
}
ul li{
	list-style: none;
}
.wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	overflow: auto;
}
.header-fixed{
	max-width: 100%;
	min-width: 100%;
	height: 80px;
	background: #000000;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.header-top-container{
	width: 68%;
	height: 30px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.header-top{
	width: 100%;
	height: 30px;
}
.header-top ul{
	width: 385px;
	height: 30px;
	float: right;
}
.logistics{
	width: 105px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.logistics a{
	display: inline-block;
	width: 65px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.logistics a i{
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../img/Order.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.help a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/Questionmark.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.service a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.service a i{
	display: inline-block;
	width: 14px;
	height: 13px;
	background-image: url(../img/chat.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.service{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.login-box a{
	display: inline-block;
	width: 46px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.login-box a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/people.png);
	background-repeat:no-repeat;
	margin-left: 2px;
	background-position: 0px -1px;
	vertical-align:middle;
}
.login-box{
	width: 66px;
	height: 30px;
	float: right;
	padding-left: 20px;
}
.header{
	width: 100%;
	height: 50px;
}
.header-container{
	max-width: 68%;
	min-width: 980px;
	height: 50px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.nav-bar{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
}
.header-left{
	width: 546px;
	height: 50px;
	float: left;
}
.Extention{
	display:inline-block;
	text-decoration:none;
	width:66px;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	line-height:50px;
	float:left
}
.Extention a{
	display:inline-block;
	width:36px;
	height:50px;
	color:white;
	font-size:18px;
	font-weight:bold
}
.navbar-header{
	float: left;
	width: 83px;
	height: 50px;
	position: relative;
	left: 0px;
	top: 0px;
}
.navbar-header a{
	float: left;
	width: 83px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: -15px;
}
.navbar-header a img{
	float: left;
	width: 64px;
	height: 44px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.navbar-menu{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.scroller-wrap{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.menu-box{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills1{
	width: 198px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills2{
	width: 234px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-menu-delimiter{
	display: inline-block;
	width: 1px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.nav-menu-delimiter span{
	display: inline-block;
	background: #666666;
	width: 1px;
	height: 20px;
	margin-top: 15px;
}
.header-right{
	width: 238px;
	height: 50px;
	float: right;
	position: relative;
}
.header-search{
	width: 180px;
	height: 50px;
	margin: 0px;
	margin-right: 0px;
	float: left;
	position: absolute;
}
.form-search{
	width: 180px;
	height: 41px;
	padding-top: 9px;
}
.search-box{
	width: 330px;
	height: 298px;
	padding: 15px 20px;
	margin: 0px;
	position: absolute;
	left: -150px;
	top: 48px;
	background: #fff;
	word-break: break-word;
}
.search-before-content{
	width: 290px;
	height: 268px;
	word-break: break-word;
}
#keysearch{
	width: 180px;
	height: 32px;
}
#keyword{
	width: 180px;
	height: 32px;
	padding-left: 34px;
	padding-right: 34px;
	border: solid 1px #000000;
}
.search-clear1{
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 16px;
	float: left;
	position:relative;
	top: -32px;
	left: 1px;
}
.icon-search{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.icon-search i{
	display: inline-block;
	width: 16px;
	height: 19px;
	background: url(../img/Magnifier.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: -3px;
}
.search-clear2{
	width: 32px;
	height: 32px;
	float: right;
	position:relative;
	top: -32px;
	left: 0px;
}
.icon-search-clear{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 10px 0 0 12px;
	background: url(../img/fork.png);
}
.header-cart{
	display: inline-block;
	width: 58px;
	height: 32px;
	float: left;
	margin-top: 9px;
	position: absolute;
	top: 0;
	right: 0px;
}
.header-cart a{
	display: inline-block;
	width: 58px;
	height: 32px;
}
.icon-cart{
	display: inline-block;
	float: left;
}
#keysearch input{
	text-align: left;
	font-size: 12px;
	color: #B8B8B8;
}
.container{
	width: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.banner-fixed-bottom{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom:0px;
	left: 0px;
	z-index: 11;
	background: rgba(0,0,0,0.8);
}
.banner-bottom-content{
	width: 100%;
	height: 60px;
}
.banner-close{
	display: block;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 85%;
	width: 44px;
	z-index: 1;
}
.icon-banner-close{
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: 13.85%;
	background: url(../img/XT.png);
	-webkit-transform:translateY(-50%);
}
.banner-bottom-main{
	width: 100%;
	height: 60px;
	color: rgba(255,255,255,0.8);
}
.banner-bottom-main div{
	width: 100%;
	height: 60px;
}
.banner-bottom-main a{
	width: 100%;
	height: 60px;
	font-size: 12px;
	line-height: 60px;
	color: rgba(255,255,255,0.8);
}
.drop-down-menu{
	max-width: 100%;
	min-width: 100%;
	height: 356px;
	background: white;
	position: fixed;
	top: 80px;
	left: 0;
	display: none;
	z-index: 50;
	padding-left: 19%;
	padding-right: 19%;
}
.drop-down-menu a{
	color: #000000;
}
.drop-down-menu-header{
	width: 80%;
	height: 56px;
	display: inline-block;
	float: left;
}
.drop-down-menu-footer{
	width: 100%;
	height: 50px;
	display: inline-block;
}
.drop-down-menu-body-left{
	width: 80%;
	height: 250px;
	display: inline-block;
	float: left;
}
.drop-down-menu-body-right{
	width: 12.6%;
	height: 306px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 19%;
	top: 0px;
}
.drop-down-menu-header ul li{
	max-width: 25%;
	min-width: 25%;
	height: 56px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	line-height: 50px;
	float: left;
}
.drop-down-menu-body-right ul li{
	text-align: left;
}
.drop-down-menu-body-right-title{
	font-size: 16px;
	font-weight: bolder;
	max-width: 100%;
	min-width: 100%;
	height: 56px;
	line-height: 50px;
}
.drop-down-menu-body-right-content{
	font-size: 14px;
	margin-top: 5px;
}
.drop-down-menu-body-right-img{
	display: inline-block;
	width: 170px;
	height: 80px;
}
.drop-down-menu-body-left ul{
	max-width: 25%;
	min-width: 25%;
	height: 250px;
	display: inline-block;
	text-align: left;
	float: left;
}
.Virtualline{
	display: inline-block;
	width: 5px;
	height: 2px;
}
.drop-down-menu-footer ul{
	width: 100%;
	height: 100%;
}
.drop-down-menu-footer ul li{
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: left;
}
.drop-down-menu-footer ul li a{
	font-weight: bolder;
	font-size: 13px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
.search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.icon-search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url(../img/ljt.png);
}
.gl-icon{
	width: 26px;
	height: 48px;
	font-weight: 700;
	position: relative;
	top: auto;
	transform: translateY(0%);
	right: auto;
	line-height: 42px;
	font-size: 24px;
	margin-left: 21px;
	outline-color: initial;
	outline-style: none;
	outline-width: 0px;
	text-align: left;
	-moz-text-size-adjust: 100%;
	-moz-user-select: none;
}
.article{
	padding: 0;
	display: block;
}
.article-kv{
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 24px;
}
.article-kv .kv-container{
	width: 100%;
}
.article-kv .kv-container .swiper-slide{
	position: relative;
}
.swiper-slide{
	flex-shrink: 0;
}
.con-video{
	overflow: hidden;
}
.con-video .video-wrap-pc .banner-iterm-video-clp .video-content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
.con-video .video-wrap-pc .banner-iterm-video-clp .video-content video{
	width: 100%;
	max-height: auto;
	min-height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	object-fit: cover;
}
.swiper-wrapper{
	width:100%;
	height: 0%;
	position:relative;
	z-index: 1;
}
.article-kv .kv-container .swiper-slide .item-info.font-white h5{
	color: #fff;
}
.article-kv .kv-container .swiper-slide .item-info h5{
	font-size: 33.2px;
	letter-spacing: 1.06px;
	margin-bottom: 8px;
	margin-left: 0;
	margin-right: 0;
	line-height: 37px;
	font-family: "adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-weight: 700;
	font-style: normal;
	outline-color: initial;
	outline-style: none;
	outline-width: 0px;
	text-rendering:optimizelegibility;
	-webkit-text-size-adjust: none;
	text-transform: uppercase;
	word-break: normal;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.article-banner .sub-banner .banner-iterm{
	margin:0!important;
	text-align:center!important;
	overflow:hidden;
	padding:0!important;
	flex:1;
	position: relative;
	display:-webkit-flex;
	justify-content:center;
	background:#FFF;
}
.article-banner .sub-banner .banner-iterm:nth-child(1){
	margin-right:24px!important;
	margin-left:24px!important;
}
.article-banner .sub-banner .banner-iterm:nth-child(2){
	margin-right:24px!important;
}
.article-banner .sub-banner .banner-iterm .item-wrapper{
	width: 100%;
}
.article-banner .sub-banner .banner-iterm .item-info.font-black{
	color: #000;
}.article-banner .sub-banner .banner-iterm .item-info{
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
	display: -webkit-flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family:"adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.article-banner .sub-banner .banner-iterm a{
	min-height: auto;
	transition:all .3s ease-in-out;
	padding-bottom:0!important;
}
.article-banner .sub-banner .banner-iterm img{
	height: auto;
	width: 100%!important;
	max-width:100%;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea{
	touch-action:manipulation;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	border-radius:0;
	box-shadow:none;
	outline:0;
}
.article-banner .sub-banner .banner-iterm .item-info.font-black p{
	color: #000;
}
.article-banner .sub-banner .banner-iterm .item-info p{
	font-size:18px;
	letter-spacing:0;
	line-height:28px;
	margin-bottom:15px;
	font-weight:700;
	font-family:"adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.gallery-swiper-style .style-guess-you-Iike, .article-week-best .style-guess-you-Iike {
    margin-bottom: 40px;
    margin-top: 28px;
}
.style-guess-you-Iike {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
}
.style-guess-you-Iike .swiper-container {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
}
.style-guess-you-Iike .swiper-container .swiperwrapper {
    margin: 0;
    position: relative;
}
.gallery-swiper-style .style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide {
    min-height: auto;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #FFF;
}
.style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide {
    position: relative;
    max-width: 25%;
    min-height: 340px;
    padding: 0 6px;
    width: 24.78%;
}
.style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide .thumbnail {
    background: #fff;
    transition: all 0s ease-in-out;
    border: 1px solid transparent;
    position: relative;
    z-index: 4;
    padding: 0;
    border-radius: 0;
}
.thumbnail {
    display: block;
    border: 1px solid transparent;
}
.gallery-swiper-style .style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide a {
    text-align: center;
    padding: 22px 0;
}
.style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide .thumbnail>a {
    position: relative;
    display: block;
}
.gallery-swiper-style .style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide a img {
    width: 80%;
    margin-bottom: 40px;
}
.style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide .thumbnail img {
    border-radius: 0;
}
.thumbnail img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.gallery-swiper-style .style-guess-you-Iike .swiper-container .swiperwrapper .swiper-slide a .text {
    font-family: 'PingFangSC-Semibold';
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 32px;
    text-decoration: underline;
}
.article-minimap {
    width: 78%;
    position: relative;
}
.article-minimap .minimap-wrapper {
    padding: 12px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
}
.article-minimap .minimap-wrapper .content-left {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
}
.article-minimap .minimap-wrapper .content-left .inner-left, .article-minimap .minimap-wrapper .content-left .inner-right {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.article-minimap .minimap-wrapper .content-left .inner-left .top, .article-minimap .minimap-wrapper .content-left .inner-right .top, .article-minimap .minimap-wrapper .content-left .inner-left .bottom, .article-minimap .minimap-wrapper .content-left .inner-right .bottom {
    width: 100%;
}
.article-minimap img {
    width: 100%;
    display: block;
}
.article-minimap .minimap-wrapper .content-right {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.article-minimap .minimap-wrapper .content-right .inner-top, .article-minimap .minimap-wrapper .content-right .inner-bottom {
    position: relative;
    flex: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-content: center;
}
.article-minimap .minimap-wrapper .content-right .inner-top .left, .article-minimap .minimap-wrapper .content-right .inner-bottom .left, .article-minimap .minimap-wrapper .content-right .inner-top .right, .article-minimap .minimap-wrapper .content-right .inner-bottom .right {
    width: 50%;
}
.article-text {
    width: 100%;
}
.article-text .article-wrapper {
    padding: 6px 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: "adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.article-text .article-wrapper .second-title {
    font-size: 37px;
    color: #000;
    letter-spacing: 0;
    line-height: 44px;
    font-family: "adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    text-transform: none;
    margin: 0;
}
.article-text .article-wrapper p {
    font-size: 17px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px;
    text-transform: none;
    font-family: "adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.article-text .article-wrapper .btn {
    margin-top: 22px;
}
.article .btn {
    max-width: auto;
    min-width: auto;
    width: auto;
    font-size: 15px;
    font-family: "adineueproblack","微软雅黑","PingFangSC-Regular","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.articlelike {
    padding-top: 30px;
}
.style-guess-you-Iike {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
}
.style-guess-you-Iike h3 {
    font-size: 28px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 400;
    padding-left: 6px;
    padding-right: 6px;
    color: #000;
    line-height: 30px;
    margin: 0 auto;
}
.style-guess-you-Iike .swiper-container {
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper {
    margin: 0;
    position: relative;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide {
    padding: 0 6px;
    position: relative;
    max-width: 25%;
    min-height: 340px;
    width: 25%;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box {
    padding: 12px 15px 19px;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box>a {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-title {
    font-size: 12px;
    min-height: 40px;
    max-height: 40px;
    line-height: 20px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom {
    padding-top: 6px;
    line-height: 14px;
    text-align: left;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom>span.goods-price.price-single {
    color: #000;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom>span.goods-price {
    font-size: 12px;
    font-weight: normal;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom .goods-star-box.no-evaluate {
    opacity: 0;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom .goods-star-box {
    padding: 0;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom .goods-star-box {
    float: right;
    line-height: 14px;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom .goods-star-box .star-box-gyi {
    opacity: .55;
    float: left;
    position: relative;
    margin-right: 5px;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom .goods-star-box .star-box-gyi .star-yellow-box {
    overflow: hidden;
    position: absolute;
}
.icon-new.icon-star-yellow {
    width: 76px!important;
    height: 13px!important;
    background-position: 0 -72px;
    background-size: 400px;
}
.icon-new.icon-star-gray {
    width: 76px!important;
    height: 13px!important;
    background-position: 0 -52px;
    background-size: 400px;
}
.icon-new {
    display: inline-block;
    background: url(https://img.adidas.com.cn/images/icon-new.png);
}
.gl-badge {
    font-size: 12px;
    color: #000;
    background-color: #fff;
    padding: 1px 2px;
    text-align: center;
    display: inline-block;
    line-height: 1.1em;
    position: absolute;
    right: 15px;
    top: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translate(-100%) rotate(270deg);
    transform-origin: right top;
}
.gl-badge.gl-badge-cn {
    padding: 8px 0 4px;
    width: 20px;
    height: auto;
    transform: none;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
}
@media (min-width: 960px)
.gl-badge {
    left: 10px;
    top: 10px;
}
.style-guess-you-Iike .swiper-container .swiper-pagination1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0;
    text-align: center;
    position: relative;
    z-index: 6;
    bottom: 2px;
}
.style-guess-you-Iike .swiper-container .swiper-pagination1 span:hover, .style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet:hover, .style-guess-you-Iike .swiper-container .swiper-pagination1 span.active, .style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet.active, .style-guess-you-Iike .swiper-container .swiper-pagination1 span.swiper-pagination-bullet-active, .style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
    border: 0;
}
.style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
}
.style-guess-you-Iike .swiper-container .swiper-pagination1 span, .style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet {
    display: flex;
    align-items: flex-end;
    height: 8px;
    padding: 2px 0;
    cursor: pointer;
    margin: 0 3px!important;
    width: 18px;
    background: transparent;
    border: 0;
}
.style-guess-you-Iike .swiper-container .swiper-pagination1 .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    display: inline-block;
    background: #c8cbcc;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9000px;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.swiper-container-horizontal1>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
/*.style-guess-you-Iike .swiper-container .swiper-button-prev.swiper-button-disabled {
    background-position: -360px -50px;
}*/
.style-guess-you-Iike .swiper-container .swiper-button-prev1.swiper-button-disabled, .style-guess-you-Iike .swiper-container .swiper-button-next1.swiper-button-disabled {
    cursor: default!important;
    pointer-events: auto;
}
.style-guess-you-Iike .swiper-container .swiper-button-prev1, .style-guess-you-Iike .swiper-container .swiper-button-next1 {
    display: block;
    top: 35%;
}
/*.style-guess-you-Iike .swiper-container .swiper-button-prev {
    left: 5px;
    background-position: -216px -50px;
}*/
.style-guess-you-Iike .swiper-container .swiper-button-prev1{
    padding: 0;
    margin: 0;
    width: 26px;
    height: 26px;
    top: 132px;
    left: 4px;
    background-size: 26px 26px;
}
.style-guess-you-Iike .swiper-container .swiper-button-next1{
    padding: 0;
    margin: 0;
    width: 26px;
    height: 26px;
    top: 132px;
    right: 4px;
    background-size: 26px 26px;
}
.swiper-button-next1.swiper-button-disabled, .swiper-button-prev1.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-prev1, .swiper-container-rtl .swiper-button-next1 {
/*    background-image: url(../img/2019-06-03_155341.png));*/
    left: 10px;
    right: auto;
}
.swiper-button-next1, .swiper-button-prev1 {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.gl-badge--promotion, .gl-badge--sale {
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom>span.goods-price {
    /*font-size: 14px;*/
    color: #c53622;
    /*font-weight: bold;*/
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom>span.goods-price del {
    font-size: 12px;
    color: #98989a;
}
.style-guess-you-Iike .swiper-container .swiper-wrapper .swiper-slide .thumbnail .goods-box .goods-bottom>span.goods-price del {
    /*font-size: 14px;*/
    color: #5e686e;
    margin-left: 6px;
    font-weight: normal;
}
.text-delete, del {
    text-decoration: line-through!important;
}
.style-guess-you-Iike {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
}
.title-recommd-product {
    font-size: 28px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 400;
    padding-left: 6px;
    padding-right: 6px;
    color: #000;
    line-height: 30px;
    margin: 0 auto;
}
.style-guess-you-Iike .swiper-container .swiper-pagination2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0;
    text-align: center;
    position: relative;
    z-index: 6;
    bottom: 2px;
}
.style-guess-you-Iike .swiper-container .swiper-pagination2 span:hover, .style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet:hover, .style-guess-you-Iike .swiper-container .swiper-pagination2 span.active, .style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet.active, .style-guess-you-Iike .swiper-container .swiper-pagination2 span.swiper-pagination-bullet-active, .style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
    border: 0;
}
.style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
}
.style-guess-you-Iike .swiper-container .swiper-pagination2 span, .style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet {
    display: flex;
    align-items: flex-end;
    height: 8px;
    padding: 2px 0;
    cursor: pointer;
    margin: 0 3px!important;
    width: 18px;
    background: transparent;
    border: 0;
}
.style-guess-you-Iike .swiper-container .swiper-pagination2 .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    display: inline-block;
    background: #c8cbcc;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9000px;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.swiper-container-horizontal2>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin-top: 20px;
}
/*.style-guess-you-Iike .swiper-container .swiper-button-prev.swiper-button-disabled {
    background-position: -360px -50px;
}*/
.style-guess-you-Iike .swiper-container .swiper-button-prev2.swiper-button-disabled, .style-guess-you-Iike .swiper-container .swiper-button-next2.swiper-button-disabled {
    cursor: default!important;
    pointer-events: auto;
}
.style-guess-you-Iike .swiper-container .swiper-button-prev2, .style-guess-you-Iike .swiper-container .swiper-button-next2 {
    display: block;
    top: 35%;
}
/*.style-guess-you-Iike .swiper-container .swiper-button-prev {
    left: 5px;
    background-position: -216px -50px;
}*/
.style-guess-you-Iike .swiper-container .swiper-button-prev2{
    padding: 0;
    margin: 0;
    width: 26px;
    height: 26px;
    top: 132px;
    left: 4px;
    background-size: 26px 26px;
}
.style-guess-you-Iike .swiper-container .swiper-button-next2{
    padding: 0;
    margin: 0;
    width: 26px;
    height: 26px;
    top: 132px;
    right: 4px;
    background-size: 26px 26px;
}
.swiper-button-next2.swiper-button-disabled, .swiper-button-prev2.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-prev2, .swiper-container-rtl .swiper-button-next2 {
/*    background-image: url(../img/2019-06-03_155341.png));*/
    left: 10px;
    right: auto;
}
.swiper-button-next2, .swiper-button-prev2 {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
	margin: auto 0;
	padding: 0;
	text-align: center;
	width: 100%;
	float: left;
}

.footer-top{
	background-color: #000;
	width: 100%;
	height: 100px;
	text-align: center;
}

.footer-top-ul{
	max-width: 65%;
	min-width: 65%;
	height: 100%;
	padding: 0 1.5%;
}

.footer-top-ul-li{
	float: left;
	list-style:none;
	color: #fff;
	font-size: 16px;
	height: 70%;
	position: relative;
	left: 0px;
	top: 30px;
}

.footer-top-ul-li a:link{
	color: #fff
}

.footer-top-ul-li-r{
	float: right;
	list-style:none;
	color: #fff
	line-height: 120%;
	height: 70%;
	position: relative;
	left: 0;
	top: 30px;
}
.footer-top-ul-li-r a img{
	padding-right: 15px;
}

.footer-top-ul-li-p{
	
}

.footer-top-ul-li-p img{
	margin-right: 11px;
}

.footer-top-ul-li-p1 a{
	color: #fff;
	font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px;
}
.footer-top-ul-li-p2 a{
	color: #fff;
	font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px;
}
.footer-top-ul-li-p3 a{
	color: #fff;
	font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding-left: 10px;
}

.footer-top-ul-li-p-p1{
	color: #888;
	font-size: 12px;
	padding-left: 50px;
	float: left;
}
.footer-top-ul-li-p-p2{
	color: #888;
	font-size: 12px;
	padding-left: 10px;
}
.footer-top-ul-li-p-p3{
	color: #888;
	font-size: 12px;
	padding-left: 15px;
}

.footer-top-ul-li-r-p{
	font-size: 16px;
	color: #fff;
}

.footer-middle{
	/*/*padding: 0 10%;*/
	/*min-width: 1240px;*/
	/*padding-left: 10%;
	padding-right: 10%;*/
	/*margin-left: 10%;
	margin-right: 10%;*/
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
	height: 300px;
	max-width: 65%;
	min-width: 980px;
	padding: 0 1.5%;
}

.footer-middle-top-left-ul{
	float: left;
	width: 15%;
	margin-right: 5%;
	
}

.footer-middle-top-left-ul-li-title{
	text-align: left;
	font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-bottom: 25px;
}

.footer-middle-top-left-ul-li{
	text-align: left;
	margin-bottom: 13px;
	font-size: 14px;
    line-height: 16px;
}

.footer-middle-top-left-ul-li a {
	color: #000;
}

.footer-middle-top-right-ul{
	float: right;
}

.footer-middle-top-right-ul h2{
	text-align: left;
}

.footer-middle-top-right-ul li{
	float: left;
	margin-right: 20px;
	text-align: center;
	margin-top: 20px;
}

.footer-middle-bottom-top-ul{
	display: inline-block;
	float: left;
	width: 100%;
}

.footer-middle-bottom-top-ul-li{
	float: left;
	margin-right: 15px;
}

.footer-middle-bottom-bottom-ul{
	display: inline-block;
	float: left;
	width: 100%;
	padding-top: 15px;
}

.footer-middle-bottom-bottom-ul-li{
	float: left;
	margin-right: 10px;
}

.footer-middle-bottom-bottom-ul-li-l{
	float: left;
	margin-right: 90px;
}

.footer-bottom{
	width: 100%;
	/*height: 40px;*/
	background-color: #000;
}

.footer-bottom-div{
	/*max-width: 82%;*/
	/*min-width: 82%;*/
	width: 100%;
	height: 100%;
	display: inline-block;
	/*padding: 0 15%;*/
}

.footer-bottom-ul-l{
	float: left;
	/*max-width: 48.1%;*/
	/*min-width: 52%;*/
	width: 53.3%;
	padding-left: 5%;
}

.footer-bottom-ul-r{
	float: right;
	width: 41.4%;
	/*max-width: 45.6%;*/
	/*min-width: 50%;*/
}

.footer-bottom-ul-l li{
	line-height: 40px;
	float: left;
	color: #98989a;
}

.footer-bottom-ul-l-li a{
	color: #98989a;
}

.footer-bottom-ul-l li img{
	margin-right: 15px;
}

.footer-bottom-ul-r li{
	line-height: 40px;
	float: left;
}

.footer-bottom-ul-r li img{
	margin: 0 10px;
}

.footer-bottom-ul-r-li a{
	color: #98989a;
}

.footer-middle-top-right-ul-li-kz{
	/*display: none;*/
    position: absolute;
    top: 38px;
    left: 50%;
    z-index: 8;
    margin-left: -105px;
    padding: 14px 4px;
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 5px;
    width: 300px;
    font-size: 0;
    margin-left: -150px;
}

.footer-middle-top-right-ul-li-kz-jt{
	content: "";
    display: block;
    position: initial;
    top: -8px;
    left: 50%;
    /*margin: 0 0 0 -px;*/
    transform: rotate(45deg);
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    height: 14px;
    width: 14px;
    border-bottom: 0 solid #ddd;
    background: #fff;
}
.footer-middle-top-right-ul-li-kz-img{
	
}

.footer-middle-top-right-ul-li-kz-txt{
	
}