*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}
body{
	font-family:"adihrg","PingFangSC-Regular","Hiragino Sans GB","微软雅黑","Microsoft YaHei",sans-serif;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
img{
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}
ul li{
	list-style: none;
}
.wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.header-fixed{
	max-width: 100%;
	min-width: 100%;
	height: 80px;
	background: #000000;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.header-top-container{
	width: 68%;
	height: 30px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.header-top{
	width: 100%;
	height: 30px;
}
.header-top ul{
	width: 385px;
	height: 30px;
	float: right;
}
.logistics{
	width: 105px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.logistics a{
	display: inline-block;
	width: 65px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.logistics a i{
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../img/Order.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.help a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/Questionmark.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.service a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.service a i{
	display: inline-block;
	width: 14px;
	height: 13px;
	background-image: url(../img/chat.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.service{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.login-box a{
	display: inline-block;
	width: 46px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.login-box a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/people.png);
	background-repeat:no-repeat;
	margin-left: 2px;
	background-position: 0px -1px;
	vertical-align:middle;
}
.login-box{
	width: 66px;
	height: 30px;
	float: right;
	padding-left: 20px;
}
.header{
	width: 100%;
	height: 50px;
}
.header-container{
	max-width: 68%;
	min-width: 980px;
	height: 50px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.nav-bar{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
}
.header-left{
	width: 546px;
	height: 50px;
	float: left;
}
.Extention{
	display:inline-block;
	text-decoration:none;
	width:66px;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	line-height:50px;
	float:left
}
.Extention a{
	display:inline-block;
	width:36px;
	height:50px;
	color:white;
	font-size:18px;
	font-weight:bold
}
.navbar-header{
	float: left;
	width: 83px;
	height: 50px;
	position: relative;
	left: 0px;
	top: 0px;
}
.navbar-header a{
	float: left;
	width: 83px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: -15px;
}
.navbar-header a img{
	float: left;
	width: 64px;
	height: 44px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.navbar-menu{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.scroller-wrap{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.menu-box{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills1{
	width: 198px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills2{
	width: 234px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-menu-delimiter{
	display: inline-block;
	width: 1px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.nav-menu-delimiter span{
	display: inline-block;
	background: #666666;
	width: 1px;
	height: 20px;
	margin-top: 15px;
}
.header-right{
	width: 238px;
	height: 50px;
	float: right;
	position: relative;
}
.header-search{
	width: 180px;
	height: 50px;
	margin: 0px;
	margin-right: 0px;
	float: left;
	position: absolute;
}
.form-search{
	width: 180px;
	height: 41px;
	padding-top: 9px;
}
.search-box{
	width: 330px;
	height: 298px;
	padding: 15px 20px;
	margin: 0px;
	position: absolute;
	left: -150px;
	top: 48px;
	background: #fff;
	word-break: break-word;
}
.search-before-content{
	width: 290px;
	height: 268px;
	word-break: break-word;
}
#keysearch{
	width: 180px;
	height: 32px;
}
#keyword{
	width: 180px;
	height: 32px;
	padding-left: 34px;
	padding-right: 34px;
	border: solid 1px #000000;
}
.search-clear1{
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 16px;
	float: left;
	position:relative;
	top: -32px;
	left: 1px;
}
.icon-search{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.icon-search i{
	display: inline-block;
	width: 16px;
	height: 19px;
	background: url(../img/Magnifier.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: -3px;
}
.search-clear2{
	width: 32px;
	height: 32px;
	float: right;
	position:relative;
	top: -32px;
	left: 0px;
}
.icon-search-clear{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 10px 0 0 12px;
	background: url(../img/fork.png);
}
.header-cart{
	display: inline-block;
	width: 58px;
	height: 32px;
	float: left;
	margin-top: 9px;
	position: absolute;
	top: 0;
	right: 0px;
}
.header-cart a{
	display: inline-block;
	width: 58px;
	height: 32px;
}
.icon-cart{
	display: inline-block;
	float: left;
}
#keysearch input{
	text-align: left;
	font-size: 12px;
	color: #B8B8B8;
}
.container{
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.banner-fixed-bottom{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom:0px;
	left: 0px;
	z-index: 11;
	background: rgba(0,0,0,0.8);
}
.banner-bottom-content{
	width: 100%;
	height: 60px;
}
.banner-close{
	display: block;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 85%;
	width: 44px;
	z-index: 1;
}
.icon-banner-close{
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/XT.png);
	-webkit-transform:translateY(-50%);
}
.banner-bottom-main{
	width: 100%;
	height: 60px;
	color: rgba(255,255,255,0.8);
}
.banner-bottom-main div{
	width: 100%;
	height: 60px;
}
.banner-bottom-main a{
	width: 100%;
	height: 60px;
	font-size: 12px;
	line-height: 60px;
	color: rgba(255,255,255,0.8);
}
.drop-down-menu{
	max-width: 100%;
	min-width: 100%;
	height: 356px;
	background: white;
	position: fixed;
	top: 80px;
	left: 0;
	display: none;
	z-index: 50;
	padding-left: 19%;
	padding-right: 19%;
}
.drop-down-menu a{
	color: #000000;
}
.drop-down-menu-header{
	width: 80%;
	height: 56px;
	display: inline-block;
	float: left;
}
.drop-down-menu-footer{
	width: 100%;
	height: 50px;
	display: inline-block;
}
.drop-down-menu-body-left{
	width: 80%;
	height: 250px;
	display: inline-block;
	float: left;
}
.drop-down-menu-body-right{
	width: 12.6%;
	height: 306px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 19%;
	top: 0px;
}
.drop-down-menu-header ul li{
	max-width: 25%;
	min-width: 25%;
	height: 56px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	line-height: 50px;
	float: left;
}
.drop-down-menu-body-right ul li{
	text-align: left;
}
.drop-down-menu-body-right-title{
	font-size: 16px;
	font-weight: bolder;
	max-width: 100%;
	min-width: 100%;
	height: 56px;
	line-height: 50px;
}
.drop-down-menu-body-right-content{
	font-size: 14px;
	margin-top: 5px;
}
.drop-down-menu-body-right-img{
	display: inline-block;
	width: 170px;
	height: 80px;
}
.drop-down-menu-body-left ul{
	max-width: 25%;
	min-width: 25%;
	height: 250px;
	display: inline-block;
	text-align: left;
	float: left;
}
.Virtualline{
	display: inline-block;
	width: 5px;
	height: 2px;
}
.drop-down-menu-footer ul{
	width: 100%;
	height: 100%;
}
.drop-down-menu-footer ul li{
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: left;
}
.drop-down-menu-footer ul li a{
	font-weight: bolder;
	font-size: 13px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
.search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.icon-search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url(../img/ljt.png);
}

.main {
	width: 990px;
	height: 540px;
	margin-top: 80px;
	max-width: 1440px;
	
}

.main-top {
	display: inline-block;
	width: 100%;
	max-width: 990px;
	margin: 20px auto;
}

.main-top-ul li {
	list-style: none;
	float: left;
	margin-left: 5px;
}

.main-top-ul-li-a:link {
	text-decoration: none;
}

a {
	color: #000;
}

.main-left {
	padding-right: 60px;
	border-right: 2px solid #EBEBEB;
	display: inline-block;
	float: left;
	text-align: left;
}

.main-left-h4 {
	font-size: 22px;
	line-height: 22px;
	padding-bottom: 14px;
	margin-bottom: 20px;
	display: inline-block;
	padding-left: 14px;
	padding-right: 15px;
}

.main-left-h41{
	border-bottom: 2px solid #000;
	color: #000;
}

.main-left-h42{
	border-bottom: 2px solid #c8cbcc;
	color: #c8cbcc;
}

.main-left-top-searchInput-label {
	float: left;
	font-size: 13px;
	letter-spacing: 1px;
	color: #888;
	position: relative;
	pointer-events: none;
	text-transform: uppercase;
	left: 11px;
	top: -29px;
}

.main-left-div1 {
	margin-bottom: 20px;
}

.main-left-div2 {
	margin-bottom: 40px;
}

.main-left-top-checkbox {
	height: 24px;
	width: 24px;
	margin-right: 5px;
	padding-top: 3px;
}

.main-left-top-span {
	font-size: 12px;
}

.main-left-top-searchInput {
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 16px;
	font-size: 14px;
	padding: 0 10px;
	border: 1px solid #c8cbcc;
	text-align: left;
}

.main-left-top-btn1 {
	float: right;
	min-width: 100px;
    height: 40px;
    background-color: #000;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    margin-top: -1px;
    border: 0px;
    position: relative;
    bottom: 40px;
}

.main-left-top-div1 {
	font-size: 12px;
	color: #000;
}

.main-left-top-div2{
	margin-bottom: 40px;
	text-align: left;
}

.main-left-top-div3 {
	width: 100%;	
}

.main-left-top-btn2 {
	width: 100%;
	min-width:100px;
	height: 40px;
	background-color: #000;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	padding: 0 10px;
	margin-top: -1px;
	border: 0px;
	
}

.main-left-top-a{
	display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    display: none;
    text-align: left;
}

.icon-icon-jiantou-l {
	margin-left: 15px;
}

.main-left-bottom {
	border-top: 1px dashed #C8CBCC;
	display: inline-block;
	margin-top: 20px;
}

.main-left-bottom-p1 {
	margin: 20px 0;
	font-size: 14px;
	color: #000;
	text-align: left;
}

.main-left-bottom-ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

.main-left-bottom-ul li a:link {
	text-decoration: none;
}

.main-left-bottom-p2 {
	display: inline-block;
	color: #888888;
	font-size: 12px;
	margin-top: 8px;
}

.main-right {
	display: inline-block;
	float: left;
	padding-left: 60px;
}

.main-right-h4 {
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
}

.main-right-p {
	font-size: 14px;
	color: #000;
	line-height: 18px;
	margin-bottom: 50px;
}

.main-right-ul {
	list-style: none;
}

.main-right-ul-li {
	margin: 9px 0;
    line-height: 14px;
	font-size: 14px;
	color: #000;
	text-align: left;
}

.main-right-ul-il-img {
	margin-right: 14px;
}