body{
	background: #ecece2;
}
.wrapper{
	margin-top: 80px;
}
.main {
	
	margin: auto 0;
	padding: 0 75px;
	width: 100%;
	/*height: 1950px;*/
	min-width: 1000px;
	
}

.main-top-ul{
	width: 100%;
	height: 33.33%px;
}

.main-top-ul-li {
	float: left;
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	margin-bottom: 80px;
}

.main-top-ul-li-img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.main-top-ul-li-p{
	font-family: yeezy;
    font-size: 28px;
    color: #000;
}
.titme {
	font-size: 22px;
	font-weight: bold;
	color: #000000;
}

.main-top-ul-li-div-div{
	margin-top: 30px;
}

.main-top-ul-li-div-div a {
	color: #a5a59e;
	border-bottom: 2px solid #a5a59e;
	display: inline-block;
	padding-bottom: 2px;
	font-size: 20px;
	font-weight: bold;
}

/*-----------------------------------------------------*/
*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}
body{
	font-family:"adihrg","PingFangSC-Regular","Hiragino Sans GB","΢���ź�","Microsoft YaHei",sans-serif;
	font-size: 12px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
ul li{
	list-style: none;
}
.wrapper{
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
}
.header-fixed{
	max-width: 100%;
	min-width: 100%;
	height: 80px;
	background: #000000;
	position: fixed;
	top: 0px;
	z-index: 100;
}
.header-top-container{
	width: 65%;
	height: 30px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.header-top{
	width: 100%;
	height: 30px;
}
.header-top ul{
	width: 385px;
	height: 30px;
	float: right;
}
.logistics{
	width: 105px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.logistics a{
	display: inline-block;
	width: 65px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.logistics a i{
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../img/Order.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.help a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/Questionmark.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	vertical-align:middle;
}
.help{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.service a{
	display: inline-block;
	width: 67px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.service a i{
	display: inline-block;
	width: 14px;
	height: 13px;
	background-image: url(../img/chat.png);
	background-repeat:no-repeat;
	margin-left: 1px;
	background-position: 0px 0px;
	vertical-align:middle;
}
.service{
	width: 107px;
	height: 30px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
.login-box a{
	display: inline-block;
	width: 46px;
	height: 34px;
	color: #C8CBCC;
	font-size: 11px;
	padding-top: 6px;
}
.login-box a i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../img/people.png);
	background-repeat:no-repeat;
	margin-left: 2px;
	background-position: 0px -1px;
	vertical-align:middle;
}
.login-box{
	width: 66px;
	height: 30px;
	float: right;
	padding-left: 20px;
}
.header{
	width: 100%;
	height: 50px;
}
.header-container{
	max-width: 65%;
	min-width: 980px;
	height: 50px;
	padding-left: 1.5%;
	padding-right: 1.5%;
}
.nav-bar{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
}
.header-left{
	width: 546px;
	height: 50px;
	float: left;
}
.Extention{
	display:inline-block;
	text-decoration:none;
	width:66px;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	line-height:50px;
	float:left
}
.Extention a{
	display:inline-block;
	width:36px;
	height:50px;
	color:white;
	font-size:18px;
	font-weight:bold
}
.navbar-header{
	float: left;
	width: 83px;
	height: 50px;
	position: relative;
	left: 0px;
	top: 0px;
}
.navbar-header a{
	float: left;
	width: 83px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: -15px;
}
.navbar-header a img{
	float: left;
	width: 64px;
	height: 44px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.navbar-menu{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.scroller-wrap{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.menu-box{
	width: 463px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills1{
	width: 198px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-pills2{
	width: 234px;
	height: 50px;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.nav-menu-delimiter{
	display: inline-block;
	width: 1px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.nav-menu-delimiter span{
	display: inline-block;
	background: #666666;
	width: 1px;
	height: 20px;
	margin-top: 15px;
}
.header-right{
	width: 238px;
	height: 50px;
	float: right;
	position: relative;
}
.header-search{
	width: 180px;
	height: 50px;
	margin: 0px;
	margin-right: 0px;
	float: left;
	position: absolute;
}
.form-search{
	width: 180px;
	height: 41px;
	padding-top: 9px;
}
.search-box{
	width: 330px;
	height: 298px;
	padding: 15px 20px;
	margin: 0px;
	position: absolute;
	left: -150px;
	top: 48px;
	background: #fff;
	word-break: break-word;
}
.search-before-content{
	width: 290px;
	height: 268px;
	word-break: break-word;
}
#keysearch{
	width: 180px;
	height: 32px;
}
#keyword{
	width: 180px;
	height: 32px;
	padding-left: 34px;
	padding-right: 34px;
	border: solid 1px #000000;
}
.search-clear1{
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 16px;
	float: left;
	position:relative;
	top: -32px;
	left: 1px;
}
.icon-search{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 8px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.icon-search i{
	display: inline-block;
	width: 16px;
	height: 19px;
	background: url(../img/Magnifier.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 2px;
	left: -3px;
}
.search-clear2{
	width: 32px;
	height: 32px;
	float: right;
	position:relative;
	top: -32px;
	left: 0px;
}
.icon-search-clear{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 10px 0 0 12px;
	background: url(../img/fork.png);
}
.header-cart{
	display: inline-block;
	width: 58px;
	height: 32px;
	float: left;
	margin-top: 9px;
	position: absolute;
	top: 0;
	right: 0px;
}
.header-cart a{
	display: inline-block;
	width: 58px;
	height: 32px;
}
.icon-cart{
	display: inline-block;
	float: left;
}
#keysearch input{
	text-align: left;
	font-size: 12px;
	color: #B8B8B8;
}
.container{
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.banner-fixed-bottom{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom:0px;
	left: 0px;
	z-index: 11;
	background: rgba(0,0,0,0.8);
}
.banner-bottom-content{
	width: 100%;
	height: 60px;
}
.banner-close{
	display: block;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 85%;
	width: 44px;
	z-index: 1;
}
.icon-banner-close{
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/XT.png);
	-webkit-transform:translateY(-50%);
}
.banner-bottom-main{
	width: 100%;
	height: 60px;
	color: rgba(255,255,255,0.8);
}
.banner-bottom-main div{
	width: 100%;
	height: 60px;
}
.banner-bottom-main a{
	width: 100%;
	height: 60px;
	font-size: 12px;
	line-height: 60px;
	color: rgba(255,255,255,0.8);
}
.drop-down-menu{
	max-width: 100%;
	min-width: 100%;
	height: 356px;
	background: white;
	position: fixed;
	top: 80px;
	left: 0;
	display: none;
	z-index: 50;
	padding-left: 19%;
	padding-right: 19%;
}
.drop-down-menu a{
	color: #000000;
}
.drop-down-menu-header{
	width: 80%;
	height: 56px;
	display: inline-block;
	float: left;
}
.drop-down-menu-footer{
	width: 100%;
	height: 50px;
	display: inline-block;
}
.drop-down-menu-body-left{
	width: 80%;
	height: 250px;
	display: inline-block;
	float: left;
}
.drop-down-menu-body-right{
	width: 12.6%;
	height: 306px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 19%;
	top: 0px;
}
.drop-down-menu-header ul li{
	max-width: 25%;
	min-width: 25%;
	height: 56px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	line-height: 50px;
	float: left;
}
.drop-down-menu-body-right ul li{
	text-align: left;
}
.drop-down-menu-body-right-title{
	font-size: 16px;
	font-weight: bolder;
	max-width: 100%;
	min-width: 100%;
	height: 56px;
	line-height: 50px;
}
.drop-down-menu-body-right-content{
	font-size: 14px;
	margin-top: 5px;
}
.drop-down-menu-body-right-img{
	display: inline-block;
	width: 170px;
	height: 80px;
	cursor: pointer;
}
.drop-down-menu-body-left ul{
	max-width: 25%;
	min-width: 25%;
	height: 250px;
	display: inline-block;
	text-align: left;
	float: left;
}
.Virtualline{
	display: inline-block;
	width: 5px;
	height: 2px;
}
.drop-down-menu-footer ul{
	width: 100%;
	height: 100%;
}
.drop-down-menu-footer ul li{
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: left;
}
.drop-down-menu-footer ul li a{
	font-weight: bolder;
	font-size: 13px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
.search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 15px;
}
.icon-search-delete{
	display: inline-block;
	width: 14px;
	height: 16px;
	background-image: url(../img/ljt.png);
}
.cms-html-edit{
	word-break: normal;
	width: 100%;
	height: 9.7%;
	padding-top: 80px;
	z-index: 1;
}
.article-kv{
	word-break: normal;
	width: 100%;
	height: 100%;
	display: block;
}
.article-kv .kv-container{
	width: 100%;
	height: 100%;
	display: block;
}
.swiper-container{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: -1;
}
/*---------------------------*/
.footer{
	margin: auto 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 520px;
	display: block;
	clear:both;
	background-color: #fff;
}

.footer-top{
	background-color: #000;
	width: 100%;
	height: 100px;
	text-align: center;
}

.footer-top-ul{
	max-width: 65%;
	min-width: 980px;
	padding: 0 1.5%;
	background-color: #000;
}

.footer-top-ul-li{
	float: left;
	list-style:none;
	color: #fff;
	line-height: 120%;
	margin-top: 35px;
	font-size: 16px;
	margin-right: 6%;
	background-color: #000;
}

.footer-top-ul-li a:link{
	color: #fff;
	background-color: #000;
}

.footer-top-ul-li-r{
	float: right;
	list-style:none;
	color: #fff
	line-height: 120%;
	margin-top: 35px;
	margin-right: 1%;
	background-color: #000;
}

.footer-top-ul-li-p{
	background-color: #000;
}

.footer-top-ul-li-p img{
	margin-right: 11px;
	background-color: #000;
}

.footer-top-ul-li-p a{
	color: #fff;
	font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    background-color: #000;
}

.footer-top-ul-li-p-p{
	color: #888;
	font-size: 12px;
	background-color: #000;
}

.footer-top-ul-li-r-p{
	font-size: 16px;
	color: #fff;
	background-color: #000;
}

.footer-middle{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
	height: 300px;
	max-width: 65%;
	min-width: 980px;
	padding: 0 1.5%;
	background-color: #fff;
}

.footer-bottom-div{
	
	
}

.footer-middle-top-left-ul{
	float: left;
	width: 15%;
	margin-right: 5%;
	background-color: #fff;
	
}

.footer-middle-top-left-ul-li-title{
	text-align: left;
	font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-bottom: 25px;
    background-color: #fff;
}

.footer-middle-top-left-ul-li{
	text-align: left;
	margin-bottom: 13px;
	font-size: 14px;
    line-height: 16px;
    background-color: #fff;
}

.footer-middle-top-left-ul-li a {
	color: #000;
	background-color: #fff;
}

.footer-middle-top-right-ul{
	float: right;
	background-color: #fff;
}

.footer-middle-top-right-ul h2{
	text-align: left;
	background-color: #fff;
}

.footer-middle-top-right-ul li{
	float: left;
	margin-right: 20px;
	text-align: center;
	background-color: #fff;
}

.footer-middle-bottom-top-ul{
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #fff;
}

.footer-middle-bottom-top-ul-li{
	float: left;
	margin-right: 15px;
	background-color: #fff;
}

.footer-middle-bottom-bottom-ul{
	display: inline-block;
	float: left;
	width: 100%;
	padding-top: 15px;
	background-color: #fff;
}

.footer-middle-bottom-bottom-ul-li{
	float: left;
	margin-right: 10px;
	background-color: #fff;
}

.footer-middle-bottom-bottom-ul-li-l{
	float: left;
	margin-right: 90px;
	background-color: #fff;
}

.footer-bottom{
	width: 100%;
	height: 40px;
	background-color: #000;
}

.footer-bottom-div{
	max-width: 65%;
	min-width: 980px;
	padding: 0 1.5%;
}

.footer-bottom-ul-l{
	float: left;
}

.footer-bottom-ul-r{
	float: right;
}

.footer-bottom-ul-l li{
	line-height: 40px;
	float: left;
	color: #98989a;
}

.footer-bottom-ul-l-li a{
	color: #98989a;
}

.footer-bottom-ul-l li img{
	margin-right: 15px;
}

.footer-bottom-ul-r li{
	line-height: 40px;
	float: left;
}

.footer-bottom-ul-r li img{
	margin: 0 10px;
}

.footer-bottom-ul-r-li a{
	color: #98989a;
}

.footer-middle-top-right-ul-li-kz1{
	display: none;
    position: absolute;
    top: 72.5%;
    left: 67.2%;
}

.footer-middle-top-right-ul-li-kz2{
	display: none;
    position: absolute;
    top: 72.5%;
    left: 74.2%;
}